$main-bg-color: #f1f1f1;
$main-color: #fe305b;
$btn-hover-color: #ec2403;
$second-color: #333333;
$text-color: #555555;
$rating-color: #f1c30d;
$main-padding: 5.5rem;
$text-input-color: #a94442;
$text-sm: 0.9rem;
$time: 0.4s;
// =========== global ==========

#goTop {
    position: fixed;
    bottom: 5%;
    right: 1%;
    background-color: black;
    z-index: 10;
    padding: 15px;
    cursor: pointer;
}

p,
h3 {
    margin: 0;
    color: $text-color;
}

h1,
h2,
h3,
span {
    font-family: "Source Sans 3", sans-serif;
    color: $second-color;
}

h3 {
    font: {
        size: 24px;
        weight: 600;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}
.active {
    color: $main-color !important;
}

.h2 {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 6px;
    margin-bottom: 45px;
}
.h2::after {
    content: " ";
    position: absolute;
    top: calc(100% + 7px);
    left: 37%;
    right: 37%;
    height: 1px;
    background: $main-color;
}
.h2::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 43%;
    right: 43%;
    height: 15px;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
}
.main-btn {
    background-color: $main-color;
    color: white;
    text-align: center;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    transition: background-color $time;
}
.main-btn:hover {
    background-color: $btn-hover-color;
}
.main-pad-y {
    padding-block: $main-padding;
}
@media (width >= 1200px) {
    .main-pad-x {
        padding-inline: $main-padding;
    }
}
// nav change
.bg-second-color {
    background-color: $second-color !important;
}
.nav-hidden {
    transform: translateY(-100%);
}

// ============== nav ==============
#nav {
    background-color: transparent;
    transition:
        background-color $time,
        transform $time;
    .logo {
        color: $main-color;
        font-size: 24px;
        font-weight: 600;
    }
    a {
        color: white;
        font-weight: 300;
    }
}

// ============== header ==============
#home {
    font-size: 1.5rem;
    background: {
        image: linear-gradient(#000000cc, #000000cc), url("../../assets/background.jpg");
        size: cover;
        repeat: no-repeat;
        position: center center;
    }
    .hello {
        color: white;
        font-weight: 600;
    }
    h1 {
        font: {
            size: 4.3rem;
            weight: 700;
        }
        color: $main-color;
    }
    p {
        color: white;
        font: {
            size: 26px;
            weight: 300;
        }
        span {
            color: inherit;
        }
    }
}

//================ S2 =================
#about {
    .left {
        box-shadow: inset 0 0 0 8px $second-color;
        position: relative;
        .main {
            transform: translate(25px, 25px);
            position: relative;
            overflow-y: hidden;
            cursor: pointer;
            &:hover .hov {
                opacity: 1;
                transform: translateY(0);
            }
            .hov {
                background-color: #333333a0;
                transform: translateY(100%);
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                transition:
                    opacity $time,
                    transform $time;
                a {
                    color: white;
                    transition: color $time;
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .right {
        .top {
            border-bottom: 1px dashed $text-color;
            h2 {
                padding-inline-start: 10px;
                position: relative;
                font-weight: 700;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 17%;
                    bottom: 17%;
                    width: 5px;
                    background-color: $main-color;
                }
            }
            p {
                margin-block: 15px;
            }
        }
        .bottom {
            span {
                font-weight: 700;
            }
            p {
                margin-bottom: 10px;
            }
        }
        .buttons {
            margin-block: 10px;
        }
    }
}

//================ S3 =================
#services {
    background-color: $main-bg-color;
    text-align: center;
    i {
        color: $main-color;
    }
    h3 {
        margin-block: 12px;
    }
    .item {
        padding-block: 30px;
        padding-inline: 7px;
        transition:
            box-shadow $time,
            background-color $time;
        &:hover {
            background-color: white;
            box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.105);
        }
    }
}

//================ S4 ================
#portfolio {
    ul {
        li {
            button.nav-link {
                background-color: transparent;
                color: inherit;
                padding: 0;
            }
        }
    }
    .main {
        position: relative;
        cursor: pointer;
        &:hover .hov {
            opacity: 1;
        }
        .hov {
            background-color: #333333a0;
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            transition: opacity $time;
            i {
                position: absolute;
                bottom: 15px;
                right: 5px;
            }
        }
    }
}

//================ S5 =================
#testmonial {
    background-color: $main-bg-color;

    .ul {
        width: 100%;
    }
    .item {
        text-align: center;
        i {
            color: $main-color;
        }
        span {
            margin-block: 15px;
            font: {
                size: 1.5rem;
                weight: 600;
            }
        }
    }
}

//================ S6 =================
#slider {
    .owl-carousel {
        .carousal-item {
            background-color: $main-bg-color;
            width: 70%;
            margin-inline: auto;
            overflow: hidden;
            padding: 3rem;
            .fa-star {
                color: gold;
            }
            h3 {
                margin-bottom: 10px;
            }
            p {
                margin-block: 15px;
            }
            .left {
                position: relative;
                img {
                    position: relative;
                    z-index: 1;
                    transform: translate(-20px);
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: -100px;
                    left: 0;
                    width: 260px;
                    height: 260px;
                    background-color: $main-color;
                    transform: skew(-45deg, 15deg) translateX(-200px);
                }
            }
        }
    }
}

//================ S7 =================
#blog {
    background-color: $main-bg-color;
    .item {
        background-color: white;
        p {
            margin-block: 15px;
        }
        .bottom {
            padding: 20px;
        }
        a {
            transition: color $time;
            &:hover {
                color: $main-color;
            }
        }
    }
    .item2 {
        .iframe-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            height: 0;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

// ============= S8 ================
#contact {
    .form {
        width: 60%;
        margin-inline: auto;
        textarea {
            height: 100px;
        }
        button {
            margin-top: 15px;
        }
        .form-control:focus {
            border-color: $text-input-color;
            box-shadow: 0 0 2px $text-input-color;
        }
        p {
            color: $text-input-color;
        }
    }
}

// ========== footer ==========
#footer {
    background-color: $second-color;
    text-align: center;
    padding-block: 3rem;
    color: white !important;
    a {
        transition: color $time;
        &:hover {
            color: $main-color;
        }
    }
    p {
        color: inherit;
        a {
            color: $main-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// ========= media query ======
// lg
@media (width < 992px) {
    //================ S2 =================
    #about {
        .left {
            .main {
                transform: translate(0);
            }
        }
        .right {
            .bottom {
                padding-top: 10px;
                font-size: 12px;
            }
        }
    }
    // ========== slider ==========
    #slider {
        .owl-carousel {
            .carousal-item {
                width: 100%;
                padding: 3rem;
            }
        }
    }
}
// md
@media (width < 768px) {
    .h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.375rem;
    }
    //================ header =================
    #home {
        font-size: 1.3rem;
        h1 {
            font: {
                size: 2.4rem;
                weight: 700;
            }
            color: $main-color;
        }
    }
    //================ S2 =================
    #about {
        .right {
            .bottom {
                padding-top: 10px;
                font-size: inherit;
            }
        }
    }
    //================ slider =================
    #slider {
        .owl-carousel {
            .carousal-item {
                width: 85%;
                padding-inline: 14px;
                padding-block: 2.5rem;
                .left {
                    img {
                        transform: translate(0px);
                    }
                    &::before {
                        top: -130px;
                        left: -60px;
                        width: 200px;
                        height: 400px;
                    }
                }
            }
        }
    }
    // =============== contact ================
    #contact {
        .form {
            width: 90%;
        }
    }
}

@media (width < 576px) {
    // portfolio
    #portfolio {
        ul {
            li {
                font-size: 14px;
            }
        }
    }
    // slider
    #slider {
        .owl-carousel {
            .carousal-item {
                width: 90%;
                .left {
                    &::before {
                        left: -30px;
                    }
                }
            }
        }
    }

    // footer

    #footer {
        p {
            font-size: $text-sm;
        }
    }
}
